<!DOCTYPE html>
%html
    %head
        %title Terra Mystica
        = favicon_link_tag "cults.png"
        = stylesheet_link_tag :application

    %body
        = javascript_include_tag 'vendor/require'
        = javascript_include_tag 'require-config'

        = yield
